<%# app/views/front/orders/approved.html.erb %>
<%= render layout: "front/layout" do %>
  <div data-controller="layout--tab-init" 
       data-layout--tab-init-label-value="已发货订单" 
       data-layout--tab-init-path-value="<%= request.path %>">
       
    <%# 这里的代码会注入到 layout 的 yield 位置，也就是 main_content 内部 %>
    <%= render Order::IndexComponent.new do |c| %>
      <% c.with_query do %>
        <%= render OrderQuery::AdminComponent.new(url: approved_front_orders_path, type: :customer) %>
      <% end %>
      <% c.with_table do %>
        <%= render Front::OrderApprovedComponent.new(orders: @orders, all_orders: @all_orders) %>
      <% end %>
      <% c.with_pagy do %>
        <%= render Common::PagyComponent.new(pagy: @pagy) %>
      <% end %>
    <% end %>
  </div>
<% end %>
