<%# app/views/finance/orders/unsettled.html.erb %>
<%= render layout: "finance/layout" do %>
  <div data-controller="layout--tab-init" 
       data-layout--tab-init-label-value="未结算订单"
       data-layout--tab-init-closable-value="false" 
       data-layout--tab-init-path-value="<%= request.path %>">

    <%# 这里的代码会注入到 layout 的 yield 位置，也就是 main_content 内部 %>
    <%= render Order::IndexComponent.new do |c| %>
      <% c.with_query do %>
        <%= render OrderQuery::NormalComponent.new(url: unsettled_finance_orders_path, can_export: true, export_url: unsettled_finance_orders_path(format: :xlsx, params: request.query_parameters)) %>
      <% end %>
      <% c.with_table do %>
        <%= render Finance::OrderUnsettledComponent.new(orders: @orders) %>
      <% end %>
      <% c.with_pagy do %>
        <%= render Common::PagyComponent.new(pagy: @pagy) %>
      <% end %>
    <% end %>
  </div>
<% end %>
